In [2]:
import pandas as pd

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_biggest_box-office_bombs'
df = pd.read_html(url)[0]

In [4]:
df

                                  Title  Year Net production budget(millions)  \
                                  Title  Year Net production budget(millions)
0                      The 13th Warrior  1999                        $100–160
1                               The 355  2022                          $40–75
2                              47 Ronin  2013                        $175–225
3    The Adventures of Baron Munchausen  1988                           $46.6
4          The Adventures of Pluto Nash  2002                            $100
..                                  ...   ...                             ...
129                         The Wolfman  2010                            $150
130                 Wonder Woman 1984 §  2020                            $200
131                   A Wrinkle in Time  2018                            $125
132             xXx: State of the Union  2005                          $113.1
133                                Zoom  2006                           $75.6

    Worldwide gross(millions) Estimated loss (millions)  \
    Worldwide gross(millions)                   Nominal
0                       $61.7                   $69–129
1                       $27.7                       $93
2                      $151.8                       $96
3                        $8.1                     $38.5
4                        $7.1                       $96
..                        ...                       ...
129                    $139.8                       $76
130                    $166.5                  $100–137
131                    $133.2                    $130.6
132                       $71                       $78
133                     $12.5                       $69

                               Ref.
    Adjusted for inflation   [nb 1]
0                 $130–243    [# 1]
1                     $100    [# 2]
2                     $130    [# 3]
3                     $102    [# 4]
4                     $168    [# 5]
..                     ...      ...
129                   $110  [# 130]
130               $121–166  [# 131]
131                   $164  [# 132]
132                   $126  [# 133]
133                   $108  [# 134]

[134 rows x 7 columns]

In [6]:
# Flatten the MultiIndex columns
df.columns = [' '.join(col).strip() for col in df.columns.values]

# Save to Excel without the index
df.to_excel('box_office_bombs.xlsx', index=False)

In [7]:
print(df.columns)  # This will show you the structure of the columns

Index(['Title Title', 'Year Year',
       'Net production budget(millions) Net production budget(millions)',
       'Worldwide gross(millions) Worldwide gross(millions)',
       'Estimated loss (millions) Nominal',
       'Estimated loss (millions) Adjusted for inflation', 'Ref. [nb 1]'],
      dtype='object')